<div class="card mt-3">
    <div class="card-body">
        <div class="row">
            <div class="col"><strong>Наименование</strong></div>
            <div class="col"><strong>Пароль</strong></div>
            <div class="col"><strong>Дата создания</strong></div>
        </div>
        <div class="row">
            <div class="col">{{password.passwordFor}}</div>
            <div class="col">
                @if (passwordState == PasswordStates.Hidden) {
                    <button class="btn btn-sm btn-primary" (click)="loadPassword()">Нажмите, чтобы показать.</button>
                }
                @else if (passwordState == PasswordStates.Loading) {
                    <div>Загрузка...</div>
                }
                @else if (passwordState == PasswordStates.Displayed) {
                    <div>{{passwordValue}}</div>
                }
                @else {
                    <button class="btn btn-sm btn-warning" (click)="loadPassword()">Ошибка! Нажмите, чтобы повторить.</button>
                }
            </div>
            <div class="col">{{password.creationTime.toLocaleString()}}</div>
        </div>
    </div>
</div>