<ng-template #passwordForTooltop>
    <span [class]="passwordFor.invalid ? 'text-danger' : ''">Ограничения</span>
    <ul>
        <li [class]="passwordFor.hasError('required') ? 'text-danger' : ''">Ввод обязателен.</li>
        @if (passwordType.value == passwordTypes.Email) {
            <li [class]="passwordFor.hasError('email') ? 'text-danger' : ''">Корректный адрес электронной почты.</li>
        }
    </ul>
</ng-template>

<ng-template #passwordTooltop>
    <span [class]="password.invalid ? 'text-danger' : ''">Ограничения</span>
    <ul>
        <li [class]="password.hasError('required') ? 'text-danger' : ''">Ввод обязателен.</li>
        <li [class]="password.hasError('minlength') ? 'text-danger' : ''">Не короче 8 символов.</li>
    </ul>
</ng-template>

<div class="modal-header">
    <h4 class="modal-title">Добавить пароль.</h4>
</div>
<div class="modal-body">
    <form [formGroup]="passwordForm" (ngSubmit)="submitNewPassword()" id="passwordForm">
        <div class="form-check">
            <input class="form-check-input" type="radio" formControlName="passwordType" [value]="passwordTypes.Website" id="passwordTypeWebsite">
            <label class="form-check-label" for="passwordTypeWebsite">
                Для вебсайта
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" formControlName="passwordType" [value]="passwordTypes.Email" id="passwordTypeEmail">
            <label class="form-check-label" for="passwordTypeEmail">
                Для электронной почты
            </label>
        </div>
        <label for="passwordFor" [class]="passwordFor.valid ? 'form-label' : 'form-label text-danger'">Наименование <span [ngbTooltip]="passwordForTooltop">(?)</span></label>
        <input id="passwordFor" [class]="passwordFor.valid ? 'form-control' : 'form-control border-danger'" formControlName="passwordFor"/>
        <label for="password" class="form-label" [class]="password.valid ? 'form-label' : 'form-label text-danger'">Пароль <span [ngbTooltip]="passwordTooltop">(?)</span></label>
        <input id="password" class="form-control" [class]="password.valid ? 'form-control' : 'form-control border-danger'" formControlName="password"/>
    </form>
</div>
<div class="modal-footer">
    <button type="submit" form="passwordForm" class="btn btn-success" [disabled]="passwordForm.invalid">Добавить</button>
    <button type="button" class="btn btn-danger" (click)="activeModal.close()">Отмена</button>
</div>